.contato{
    margin-top: 120px;
    margin-bottom: 120px;
    @include d(s){
        margin-top: 60px;
        margin-bottom: 60px;
    }
}

.contato form {
    label{
        @include tipo-1(18);
        display: block;
    }
    input[type="text"], textarea{
        @include tipo-1(18);
        color: $text-1-color;
        width: 100%;
        padding: 0 5px;
        height: 40px;
        border: 2px solid $secondary-color;
        background: transparent;
        margin-bottom: 1em;
        &:hover, &:focus {
            outline: none;
            border-color: $border-color;
        }
    }
    textarea{
        height: 120px;
    }
}
input.button{
    @include tipo-1(18);
    cursor: pointer;
    color: $secondary-color;
    text-transform: uppercase;
    border: 2px solid $secondary-color ;
    background: transparent;
    display: block;
    width: 200px;
    padding-top: 5px;
    @include box-shadow(5px 5px 0 0 $border-color);
    transition: .3s;
    &:hover{
        @include box-shadow(3px 3px 0 0 $secondary-color);
    }
}
.contato-info{
    display: inline-block;
    color: $secondary-color;
    margin-top: 2em;
    margin-bottom: 3em;
    @include d(l){
        float: right;
        text-align: right;
        margin-top: -3em;
        margin-bottom: 3em;
    }
}
.contato-mapa{
    display: block;
    @include box-shadow (0 0 0 10px $border-color);
    clear: both;
    img{
        width: 100%;
    }
}