body{
    background: $primary-color;
    border: 10px solid $border-color;
    color: $text-1-color;
    @include d(s){
        border: none;
    }
    font-weight: 600;
}
img{
    display: block;
    max-width: 100%;
}

p{
    @include tipo-1(18);
}

.titulo{
    @include tipo-1(18);
    text-transform: uppercase;
    @include d(s){
        margin-bottom: 40px;
    }
    &::after{
        content: '';
        display: block;
        width: 70%;
        float: right;
        height: 2px;
        background: $text-1-color;
        margin-top: 12px;
        @include d(m){
            width: 60%;
        }
    }
}